body {
    text-align: center;
}


input {
    padding: 20px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
    border-radius: 1px solid gray;
}
input:focus {
    border: none;
}

ul {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none;
}
li {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #eee;
    border-left: rgb(21, 146, 155) solid 3px;
}

button {
    font-size: 80%;
    float: right;
    border: 0;
    border-radius: 3px;
    background: transparent;
}

button:hover {
    background-color: #000;
    color: #fff;
}

